@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#000 !important;
  color:#fff !important;
}
header {
  height: 200px;
background: url(~/images/chef.jpg) no-repeat center;
}
table, th, td {
  text-align: center;
  padding: 0px 30px;
  border: 1px solid #ffffff;
}
tr:hover {background-color :rgb(59, 58, 92);}